<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Twitter Clucks</title>
  <style>
      button {

      }
      button:hover {
        opacity: 0.8;
      }
      body {
        border: 1px solid #000;
        margin: 5% 60% 15% 5%;
      }
      .container {
        border: 1px solid #888;
        margin: 2% 2% auto 2%;
      }
  </style>
</head>
<body>