<%- include("./partials/header.ejs") %>
   
    <form action="/thank_you">
        <div class="container">
            <lable for="username">Username</lable><br>
            <input type="text" id="username" name="username" placeholder="e.g. Madam Welminster"><br>
            <button type="submit">Sign In</button>
        </div>
    </form>

<%- include("./partials/footer.ejs") %>